<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="about">
        <h6>About</h6>
        <p class="text-justify">Batoiflix.com es una empresa que se dedica a el registro de peliculas y valoraciones.</p>
      </div>
      <div class="links">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://dinorunner.com/es/">Sobre Nosotros</a></li>
          <li><a href="https://dinorunner.com/es/">Contacto</a></li>
          <li><a href="https://dinorunner.com/es/">Politica de Privacidad</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
        <a href="localhost:8080/login">BatoiFlix</a>.
      </p>
  </div>
  </div>
</footer>