body {
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0a0617, #372e8c, #5353ec);
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.boton-mas{
    display: block;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 100px 70px;
    margin-bottom: 450px;
    padding: 50px;
    color: white;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    text-align: center;
}
.boton-mas a{
    text-decoration: none;
    color: white;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.nav-link.clicked::before {
    transform: scale(1.5);
    opacity: 1;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-inner .carousel-item {
    flex: 0 0 calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 0 10px;
    padding-bottom: 10px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.carousel-title {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .carousel-inner .carousel-item {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .carousel-inner .carousel-item {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

.prev-button i,
.next-button i {
    font-size: 24px;
}

.prev-button,
.next-button {
    background-color: transparent;
}

.carousel-boton{
    color: #fff;
    margin-top: 75px;
}

.carousel-boton a{
    display: inline-block;
    padding: 10px 20px;
    background: #573b8a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    line-height: 1;
    margin-top: 25px;
}

select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 14px;
}

/*LOGO*/
@import url('https://fonts.google.com/specimen/Rubik+Puddles?preview.text=BATOILIX&preview.text_type=custom');

.logo-link {
    text-decoration: none;
}

.logo {
    font-family: 'Rubik', Puddles;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    animation: scaleAnimation 1s ease-in-out infinite alternate;
}

.logo:hover {
    color: #b3b9b9;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/*BANNER*/
.banner1 {
    position: fixed;
    width: 98%;
    z-index: 10;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown nav {
    display: flex;
    align-items: center;
}

.dropdown label {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.dropdown input[type="checkbox"] {
    display: none;
}

.dropdown ul.slide {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dropdown input[type="checkbox"]:checked + ul.slide {
    display: block;
}

.dropdown ul.slide li {
    padding: 10px;
    transition: background-color 0.3s ease;
}

.dropdown ul.slide li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-family: "Homer Simpson UI";
}

.dropdown ul.slide li a:hover {
    background-color: #e0e0e0;
}

.dropdown label {
    font-family: "Segoe UI";
    content: "\25BE";
    font-size: 30px;
    margin-left: 5px;
    color: #ffffff;
}

.dropdown label::after {
    font-family: "Segoe UI";
    content: "\25BE";
    font-size: 30px;
    margin-left: 5px;
    color: #ffffff;
}

.dropdown input[type="checkbox"]:checked + label::after {
    transform: rotate(180deg);
}

option {
    transition: background-color 0.3s ease;
    font-family: "Homer Simpson UI";
}

option:hover {
    background-color: lightgray;
    font-weight: bold;
}

option:checked {
    background-color: #000000;
    color: white;
}

select:focus {
    outline: none;
    border-radius: 20px;
}

.valoracion {
    border: 1px solid #FFFFFF;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 5px;
    width: 35%;
    height: 40%;
    align-items: center;
    margin: 15px auto auto;
}

.estrellas {
    display: inline;
    margin-right: 5px;
    color: #222222;
    width: 20px;
    height: 20px;
}

.comentario {
    font-family: Vegur, 'PT Sans';
    width: 100%;
    height: 100px;
    resize: none;
    color: #222222;
}

.eliminar {
    position: relative;
    top: 0px;
    left: 90%;
    width: 50px;
    height: 50px;
}

/*FOOTER*/
footer {
    text-align: center;
    bottom: 0;
    clear: both;
    margin: 0px;
    border-radius: 5px;
}

section{
    min-height: 1000px;
}

.site-footer {
    background-color:#26272b;
    padding:30px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small {
    margin:20px 0
}
.site-footer h6 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a {
    color:#737373;
}
.site-footer a:hover {
    color:#3366cc;
    text-decoration:none;
}
.footer-links {
    padding-left:0;
    list-style:none
}
.copyright-text {
    margin:0
}
